* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Pretendard" ,sans-serif;
}

button {
    cursor: pointer
}

body {
    width: 100%;
    height: 100%;
    background-color: #F4F5F7;

}

/* 헤더 */
.header {

    padding: 20px;
    border-bottom: 1px solid gray;
}

.header-div {
    display: flex;
    text-align: center;
    justify-content: center;
}

#profile {
   align-items: center;
   margin-left: 80px;
}

.profile-image {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* 앱 컨테이너 */
.app-container {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
}


/* 로그인 컨테이너 중앙 정렬 */
.login-container {
    margin : 100px auto;
    justify-content: center;
    width: 400px;
    align-items: center;
   
    padding: 20px;
    border-radius: 8px;
    text-align: center;

    h2 {
        font-size: 36px;
        font-weight: 700;
    }


}

/* 입력 필드 스타일 */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}

.login-form label {
    text-align: left;
    font-weight: bold;
}

.login-form input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* 전역 버튼 스타일 */
.default-button {
    width: 100%;
    padding: 12px;
    background-color: #9e8eee;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.default-button:hover {
    background-color:  #ACA0EB;
}

/* 회원가입 링크 위치 조정 */
.login-container p {
    margin-top: 15px;
}

.login-container a {
    color: #007bff;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

/** 회원가입 */
.register-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    
}

.register-form label {
    text-align: left;
    font-weight: bold;
}

.register-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.register-container p {
    margin-top: 10px;
}

.register-container a {
    color: #007bff;
    text-decoration: none;
}

.register-container a:hover {
    text-decoration: underline;
}
/* 게시글 리스트 */

.board-container {
    display : flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-top: 40px;
}

.board-container p {
    font-size: 24px;
}

#board-button-div {
    margin-top: 30px;
    text-align: right;
}

.board-button {
    width: 150px;
    padding: 12px;
    background-color: #9e8eee;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
}

.board-button:hover {
    background-color:  #ACA0EB;
}

.board-list {
    margin-top: 30px;
}

.board-item {
    padding: 15px;
    background: white;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.board-item h3 {
    margin: 0 0 5px;
    font-size: 18px;
    font-weight: bold;
}

.board-item p {
    margin: 0;
    font-size: 14px;
    color: #000;
}

.board-item hr {
    width: 100%;
    color: #00000029;
}

.board-footer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.profile-placeholder {
    width: 30px;
    height: 30px;
    background: #ddd;
    border-radius: 50%;
}


.board-author {
    font-size: 14px;
    font-weight: bold;
}

.board-date {
    font-size: 12px;
    color: #000;
}

.board-info-div {
    display: flex;
    justify-content: space-between;
}

.board-divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

/** post : 게시글 작성*/

.post-container {
    width: 570px;
    margin : 0 auto;
}

.post-title {
    text-align : center;
    font-size: 24px;
    margin-top: 24px;
}

.post-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.post-form label {
    font-weight: bold;
}

.post-form input,
.post-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 27px;
}

.post-form textarea {
    height: 150px;
    resize: none;
}

/* 게시글 상세 */

.boardItem-container {
    width : 100%;
    padding-bottom: 30px;
}

.boardItem-title {
    margin-top: 24px;
}

.userItem-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 12px;
}

.userItem-meta-div {
    display: flex;
    align-items: center;
}

.userItem-author {
    font-weight: 700;
    margin-right: 24px;
}
.userItem-profile-placeholder {
    background-color: #D9D9D9;
    width: 36px;
    height: 36px;
    border-radius: 30px;
    margin-right: 8px;
}

.userItem-button-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userItem-edit-button {
    border : 1px solid #ACA0EB;
    border-radius: 10px;
    padding : 5px;
    width: 50px;
}

.userItem-hr{
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #00000029;
}

.boardItem-img {
    width: 100%;
    height: 306px;
    background-color: #D9D9D9;
    margin-bottom: 24px;
}

.post-stats {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
   
}

.stat-item {
    display:flex;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 10px;
    width: 80px;
    text-align: center;
}

.comment-content {
    margin-left: 44px;
}

.comment-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.comment-input {
    width: 100%;
    height: 100px;
    padding: 30px;
    border: 1px solid #FFF;
    border-radius: 5px;
    resize: none;
}
.comment-button-div {
    border-top: 1px solid #00000029;
    text-align: right;
    padding: 5px;
}

.comment-button {
    width: 150px;
    padding: 12px;
    background-color: #9e8eee;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
}

.board-button:hover {
    background-color:  #ACA0EB;
}

.comment-item {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.comment-text {
    padding-left: 45px;
}


/** 프로필 수정 */

.profile-container {
    margin: 0 auto;
    padding-top: 160px;
    align-items: center;
    width: 400px;
}

.profile-container h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 12px;
}

.profile-container p {
    color: black;
    font-weight: 700;
    margin-bottom: 22px;
}
/* .profile-edit-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
} */

/* 프로필 사진 */
.profile-picture {
    margin: 0 auto;
    width:150px;
    height: 150px;
    background-color: #ddd;
    border-radius: 100px;
    margin-bottom: 36px;
    position: relative;
}


.profile-change-btn {
    background: #00000059;
    border: 1px solid #fff;
    font-weight: 700;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* 폼 스타일 */
.profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-form label {
    font-weight: bold;
}

.profile-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.update-btn, .delete-account {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.profile-completed-button {
    margin-top : 48px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color:  #9e8eee;
    border: none;
    color: #fff;

}

.profile-completed-button:hover {
    background-color:  #ACA0EB;
}

.profile-deleted-btn {
    margin: 0 auto;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: black;
    background-color: transparent;
}

.profile-completed-button-div {
    display:flex;
    justify-content: center;
    margin: 0 auto;
}